baseDeDatosXML/tablaOrganismo/tablaOrganismo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="organismos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="organismo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="organismo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre_cientifico"/>
        <xs:element ref="tipo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nombre_cientifico" type="xs:string"/>
  <xs:element name="tipo" type="xs:NCName"/>
</xs:schema>
