baseDeDatosXML/tablaGen/tablaGen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="genes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="gen"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idGen"/>
        <xs:element ref="tipo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="idGen" type="xs:NCName"/>
  <xs:element name="tipo" type="xs:NCName"/>
</xs:schema>
